{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}URL Shortener{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/main.css') }}" rel="stylesheet" />
			<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
		{% endblock %}
    </head>
    <body>
		
	{{ include('background.html.twig') }}

        {% block body %}
			<h1>Inside template engine</h1>
		{% endblock %}
        {% block javascripts %}
			<script src="{{ asset('js/spilledPaint.js') }}"></script>
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% endblock %}
    </body>
</html>